/* CSS For Creatif Unleashed! */
* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
}

.flex {
    display: flex;
}

/* Nav Menu */
.title {
    color: white;

}

#navbar {
    justify-content: space-between;
    overflow: hidden;
    padding: 10px;
    align-items: center;
}

.nav-list {
    list-style-type: none;
}

#nav-links a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
    color: white;
}


/****** Hamburger Side Menu CSS  ******/
.container {
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    z-index: 2;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff; 
    margin: 6px 0; 
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out second bar */
.change .bar2 {
    opacity: 0;
}

/* */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px); 
    transform: rotate(45deg) translate(-8px, -8px);
}

/* */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #000; /* white*/
    opacity: 70%;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  /* .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  } */
/* END */ 

/******* Hero Text CSS   *******/
.hero-title {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
}

.hero-text {
    text-align: left;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    
}
/* Categories */
.categories {
    flex-grow: 1;
    vertical-align: top;
    padding: 20px;
    background-color: ##fff;
}
.content-flex {

}
#content {

}

/****** Mobile categories dropdown ******/
.mobile-categories {
    background-color:#fff;
    color: #000;
    padding: 18px;
    width: 100%;
    min-width: 300px;
    border: none;
    outline: none;
    
}

.panel {
    padding: 0 18px;
    background-color: #f7f7f7;
    color: black;
    overflow: hidden;
    text-align: center;
    
    transition: max-height 0.2s ease-out;
}

.panel a {
    display: block;
    color: black;
    text-decoration: none;
}

/* Hero Image */
.hero {
    background-image: url("../images/Cloudy(1).svg");
    min-height: 700px;
    padding: 0;
    margin: 0;
}

/* for content*/
.section-title {
    font-size: 25px;
    text-decoration: underline;
}
.section-links {
    flex-grow: 3;
}
.link-title {
    text-decoration: none;
    color: #000;
}
.link-title:hover {
    color: #356cb1;
}

/****** Footer Classes ******/
.footer {
    min-height: 300px;
    background-color: #1e3266;
}

/****** media queries ******/ 
/* When screen is under 600px wide, hide the top nav and display the hamburger menu */ 
@media screen and (max-width: 600px) {
    #nav-links a:not(#mySideNav a) { display: none; }
    .hamburger-menu {
        display: block;
    }
    /* .mobile-categories {
        display: block;
    } */

}
@media screen and (max-width: 768px) {
    #content.flex {
        flex-direction:column;
    }
    .categories {
        margin: auto;
        min-width: 100%;
        padding: 0;
    }
    .panel {
        padding: 0 18px;
        background-color: #f7f7f7;
        color: black;
        overflow: hidden;
        text-align: center;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }
    .mobile-categories {
        cursor: pointer;
        box-shadow: 2px 10px 20px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 10px 20px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 10px 20px -12px rgba(0,0,0,0.75);
    }
    .mobile-categories:after {
        content: '\02795'; /* unicode for plus sign */
        font-size: 13px;
        color: #fff; 
        float: right;
        
    
    } 
    
    .active:after {
        content: '\2796'; /* unicode for minus sign */
    }

}
